<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
<template id="stTmp">
	<div>
		<h2>{{name}}의 성적, 평균 : {{avg}}</h2>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		    <input v-model="kor" class="form-control mr-sm-2" placeholder="국어" />
		    <input v-model="eng" class="form-control mr-sm-2" placeholder="영어" />
		    <input v-model="math" class="form-control mr-sm-2" placeholder="수학" />
		    <button class="btn btn-info" @click="calcu" type="button">평균</button>
 		</nav>
	</div>
</template>
<script type="text/javascript">
Vue.component("stu-comp", {
		template:"#stTmp",
		data:function(){
			return {kor:0,eng:0,math:0,avg:0}
		},
		props: ['name'],
		methods:{
			calcu:function(){
				var tot = parseInt(this.kor)+parseInt(this.eng)+parseInt(this.math)
				this.avg = Math.floor(tot/3)
				this.$emit("calcuavg", this.avg)
			// <stu-comp name="홍길동" @calcuavg="totavg"><stu-comp>
			}
		}
	})
	$(document).ready(function(){
		var vm = new Vue({
			el:".container",
			data:{msg:"학생 성적(컴포넌트)", tot:0, alivag:0, stnames:['홍길동','김길동','신길동']},
			methods:{
				totavg(avg){
					var stucount = stnames.length
					this.tot += avg;
					this.allavg = Math.floor(this.tot/stucount)
				}
			}
		});	
		/*
		<h2>전체평균:{{allavg}}</h2>
		<tr v-for="name in stnames"><td>{{name}}</td></tr>
		*/
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	  	<h2 >{{msg}}</h2>
		<soccer-comp :sc="soccers"></soccer-comp>
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input class="form-control mr-sm-2" placeholder="제목" />
	    <input class="form-control mr-sm-2" placeholder="내용" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>