<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<!--	// springweb.a05_mvc.a03_dao.A01_EmpDao
		// public List<Emp> getEmpList(Emp sch); 
		인터페이스를 상속받은 실제 Dao객체를 위 규칙에 생성하는 xml파일..
		-->
<mapper namespace="springweb.mvc.a03_dao.A02_ProductDao">
	<select id="OvProductList" resultType="OvProduct"
		parameterType="OvProduct">
		select *
		from OvProduct
		where prodNo like '%'||#{prodNo}||'%'
		and prdName like '%'||#{prdName}||'%'	
	</select>
	<select id="getOvProduct" parameterType="string" 
		resultType="OvProduct">
		select * from OvProduct
		where prodNo = #{prodNo}	
	</select>
	<insert id="insertOvProduct" parameterType="OvProduct">
		INSERT INTO OvProduct values(#{prodNo},#{ctgNo},#{prdName},#{prdKind},#{prdPrice},'',#{prdDescript})			
	</insert>	
	
</mapper>		
		