<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
<!--   // springweb.a05_mvc.a03_dao.A01_EmpDao
      // public List<Emp> getEmpList(Emp sch); 
      인터페이스를 상속받은 실제 Dao객체를 위 규칙에 생성하는 xml파일..
      
      a01_diexp.mybatis.dao.A01_EmpDao.getEmpList
      -->
<mapper namespace="a01_diexp.mybatis.dao.A01_EmpDao">
   <select id="getEmpList"  resultType="emp" parameterType="emp">
      select * 
      from emp100
      where ename like '%'||#{ename}||'%'
      and job like '%'||#{job}||'%'   
   </select>
   <select id="empCount" resultType="int">
      select count(*)
      from emp100
   </select>
   <select id="empMaxSal" resultType="double">
      SELECT max(sal) msal 
      FROM emp100
   </select>   
   <select id="getEname" resultType="string">
      SELECT ename
      FROM emp100
      WHERE empno=7499
   </select>
   <select id="getMaxSalByDept" resultType="double">
				select max(sal)
				from emp100 where deptno = 20
	</select>		
	<select id="getMaxMgr" resultType="int">
					select max(mgr) 
					from emp100
	</select>
	<select id="getJboByEname" resultType="string">
				select job
				from emp100 where ename = 'WARD'
	</select>
	<select id="getEmpByEmpno" resultType="emp">
			select * from emp100 where empno=7499
	</select>
	<select id="getEmpByEname" resultType="emp">
			select * from emp100 where ename='ALLEN'
	</select>
	
	<!-- 과제 -->
	<select id="hw01" resultType="int">
			SELECT max(mgr) FROM emp100	
	</select>
	<select id="hw02" resultType="string">
	select to_char(max(HIREDATE), 'YYYY-MM-DD') from emp100 where deptno=40
	</select>
	<select id="hw03" resultType="double">
	SELECT min(sal) FROM emp100 WHERE job = 'SALESMAN'
	</select>
	<select id="hw04" resultType="int">
	SELECT COUNT(*) FROM EMP100 WHERE sal BETWEEN 2000 AND 4000
	</select>
	<select id="hw05" resultType="int">
	SELECT count(*) FROM emp100 WHERE to_char(hiredate,'Q')='4'
	</select>
	<select id="hw06" resultType="string">
	SELECT max(sal) FROM emp100 WHERE job = 'MANAGER'
	</select>
	<select id="hw07" resultType="string">
	 select * from dept where deptno=10
	</select>
	<select id="hw08" resultType="string">
	SELECT * FROM emp100 WHERE ename = 'TURNER'
	</select>
	<select id="hw09" resultType="string">
	select * from emp100 where hiredate=(select max(hiredate) from emp)
	</select>
	<select id="hw10" resultType="string">
	 SELECT * FROM EMP100 WHERE SAL=(SELECT MAX(SAL) FROM EMP100 WHERE to_char(HIREDATE, 'q')=2)
	</select>
	<select id = "getDeptByDeptno" resultType="dept">
 	select * from dept where deptno=10
 	</select>
 	<select id = "getInitHire" resultType="emp">
 	select * from emp100 where hiredate=(select min(hiredate) from emp100)
 	</select>
 	<select id = "getMaxSalByTerms" resultType="emp">
 	SELECT * FROM EMP100 WHERE SAL=(SELECT MAX(SAL) FROM EMP100 WHERE to_char(HIREDATE, 'q')=2)
 	</select>
 	<select id="getEmpDeptList" resultType="empdept">	
		select e.*, dname, loc
		FROM emp e, dept d
		WHERE e.deptno = d.deptno
	</select>
	
 	<select id="getEmpSalGrade" resultType="empgrade">	
	SELECT e.*, grade
	FROM EMP e,SALGRADE s
	WHERE sal BETWEEN losal AND hisal
	AND sal BETWEEN 1000 AND 3000
	</select>
	
</mapper>      
      